body{
    background-color: darkkhaki;
    text-align: center; 
    font-family: Arial, sans-serif;
}
h3{
    font-size: larger;
color: blueviolet;
}
h2{
    text-align: center;
    text-decoration: underline;
    color: darkorchid;
}
p{
    text-align: center;
}

.secondary-btn{
    width: 200px;
    height: 60px;
    background-color: rgb(121, 80, 160);
    align-content: center;
    border-radius: 60px;  
    font-size:large
}
.primary-btn{
    border-radius: 30px;
    background-color: rgb(197, 58, 197);
    border-color: rgb(40, 158, 40);
}

